body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aquamarine;
    <style type="text/css">
body {cursor: url(http://www.rw-designer.com/cursor-extern.php?id=243733, auto);}
</style>
<a href="http://www.rw-designer.com/cursor-set/noelle-deltarune"</a>

}

h1 {
    text-align: center;
    text-shadow:1px 1px 10px #fff, 3px 3px 10px #97e8ff;
}

h1:hover{
     text-shadow:1px 1px 10px #14cf1e, 10px 10px 10px #00226c;

}